<h1>Thanks!!</h1>
<h2>あなたの感謝を伝えるサービス</h2>
<% @messages.each do |message| %>
  <table>
    <tr><td><%= message.to_user %></td></tr>
    <tr>
      <td><%= message.context %></td>
      <td><%= message.good %></td>
    </tr>
  </table>
<% end %>
